.checkout {
  display: flex;
  background-color: rgb(241, 241, 241);
  height: 100%;
  max-width: 1500px;
}
.checkout__ad {
  width: 100%;
}
.checkout__left {
  width: 100%;
}
.checkout__list {
  background-color: white;
  padding: 40px 0px;
}

.checkout__listTitle {
  /* padding: 10px; */
  margin-left: 25px;
  border-bottom: 1px solid lightgray;
}

.checkout__right {
  /* margin: 20px; */
  /* background-color: white; */
}

@media only screen and (max-width: 600px) {
  .checkout {
    flex-direction: column;
    align-items: center;
  }
  .checkout__left {
    align-items: center;
  }
}
