.app {
  background-color: var(--primary-color);
  display: flex;
  color: var(--font-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-hero {
  display: flex;
  width: 100%;
  padding-top: 100px;
}
