.aside {
  height: 100%;
  flex-basis: 276px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 17px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;

  /* show scrollbar on hover
  credits: https://stackoverflow.com/questions/16921582/how-can-i-fade-in-the-scrollbar-on-hover-webkit-only/65665171#65665171
   */
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 7px, black 7px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
}
.navbar:hover {
  -webkit-mask-position: left top;
}

.aside::-webkit-scrollbar {
  width: 7px;
}

.aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.aside::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.aside-content {
  /* hard coding the width based on the navbar's width - padding */
  width: calc(250px);
}

@media only screen and (max-width: 640px) {
  .aside {
    z-index: 999;
    flex-basis: 0px;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
  }
}
