.books-wrapper {
  overflow: scroll;
  height: 100%;
  padding: 30px;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.books-wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.books-wrapper > h1 {
  margin-bottom: 40px;
  margin-left: 20px;
}

.books-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  padding: 50px 0px;
  width: 100%;
}

.page-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.page-number-container > p {
  text-align: center;
  background-color: var(--accent-color);
  padding: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

.page-number-container > span {
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
}

.page-number-container > span:hover {
  transform: scale(1.1);
}
/* 640 */
@media only screen and (min-width: 1000px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .books-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  .books-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
