.books-wrapper {
  overflow: scroll;
  height: 100%;
  padding: 30px;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.books-wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.books-wrapper > h1 {
  margin-bottom: 40px;
  margin-left: 20px;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  padding: 50px 0px;
  width: 100%;
}
