.category-list-all {
  overflow: hidden;
  transition-delay: 0ms;
  /* transition: max-height 0.5s ease-in; */
  list-style: none;
  padding: 0;
}
.category-list-icon {
  transition: all 0.3s ease-in-out;
}
.category-list-all > li {
  padding-left: 25px;
  cursor: pointer;
  height: 40px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.category-list-all > li:hover {
  margin-left: 5px;
  border-left: 4px solid var(--main-light-color);
}

.category-list-name {
  cursor: pointer;
  padding: 20px;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.category-list-name:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
