.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.desktop__header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__logo {
  width: 100px;
  /* object-fit: contain; */
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput {
  padding: 10px;
  height: 16px;
  border: none;
  width: 100%;
  border-radius: 7px 0 0 7px;
}

.header__searchIcon {
  padding: 6px;
  background-color: #cd9042;
  border-radius: 0 7px 7px 0;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.mobile__header {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop__header {
    display: none;
  }

  .mobile__header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    width: 100%;
  }
  .mobileHeader__menuIcon {
    color: white;
    cursor: pointer;
    margin-right: 5px;
    font-size: large;
    position: absolute;
    right: 0;
  }
  .hidden {
    display: none;
  }
  .mobile__navigation {
    position: fixed;
    right: 0;
    z-index: 100;
    top: 60px;
    background-color: #131921;
    width: 100%;
    height: 100vh;
  }
  .mobileNav__links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
  }
  .header__option {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-bottom: solid 1px darkgrey;
    padding-bottom: 5px;
  }
  .header__optionLineOne {
    font-size: 1em;
  }
  .header__optionLineTwo {
    font-size: 1.3em;
  }
}
