.navbar {
  height: 100%;
  flex-basis: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--navbar-darker-color);
  overflow-y: scroll;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--navbar-darker-color);
}
.navbar::-webkit-scrollbar {
  width: 0.5em;
}

.navbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.navbar::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}

.navbar-icon-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 20px;
  cursor: pointer;
}
